body{
    text-align: center
}
#apps{
    width:100%;
    height:800px;
    background-color:lightpink;
}
#games{
    width:100%;
    height:800px;
    background-color:aqua;
}
#chatbot{
    width:100%;
    height:800px;
    background-color:lightgreen;
}
h1{
    font-size: 40px;
    font-family: fantasy;
}
img{
    transition:transform.2sec;
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 5px;
    width:300px;
    background-color: black;
 margin: 10px auto;
    text-align: center
}